@model CompanyInfoViewModel
@{
    ViewData["Title"] = "AboutPage";
    Layout = "~/Views/Layout/Layout.cshtml";
}

<section class="section banner-3">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-12">
                <div class="profile mb-5">
                    <img src="~/thomson-main/theme/images/about-img.jpg" alt="" class="img-fluid">
                </div>
            </div>
            <div class="col-lg-7">
                <h2>@Model.Name</h2>
                

                <p class="mb-4">@Model.About</p>


                <img src="images/signature.png" alt="" class="img-fluid">
            </div>

            <div class="col-lg-5">
                <ul class="list-unstyled mt-3 mb-5 about-list">
                    <li>- Rögar</li>
                    <li>- Beton Altyapı Elemanları</li>
                    <li>- Kompozit Kapak</li>
                    <li>- Mermer</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="page-title section pb-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center">
                    <h1 class="text-capitalize mb-0 text-lg">Bizimle İletişime Geçin</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- contact form start -->
<section class="contact section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mb-4 mb-lg-0 col-md-4">
                <h4>İletişim Bilgileri</h4>
                <p>Lorem ipsum dolor sit amet, conse adipisicing elit libero incidunt quod.</p>
            </div>
            <div class="col-lg-4 mb-4 mb-lg-0 col-md-4">
                <h4>Adres</h4>
                <p>@Model.Adress</p>
            </div>
            <div class="col-lg-4 col-md-4">
                <h4>İletişim</h4>
                <p class="mb-0">@Model.Mail</p>
                <p class="mb-0">@Model.Telephone1</p>
                <p class="mb-0">@Model.Telephone2</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="google-map">
                    <div> <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12125.904336123693!2d34.9421969!3d40.5531627!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4086d55a6aa93cb9%3A0x4c2169b3e4962ef!2sUmut%20mermer%20beton%20logar!5e0!3m2!1str!2str!4v1690983546286!5m2!1str!2str" width="1110" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
                </div>
            </div>
        </div>
    </div>
</section>
